@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-homeButton: #d63e49;
  --color-aboutButton: #d67736;
  --color-studiesButton: #d4d938;
  --color-outreachButton: #35db46;
  --color-successesButton: #26b1e0;
  --color-organizingButton: #a75ee0;
  --color-aboutBackground: #f3d6c2;
  --color-studiesBackground: #f2f4c3;
  --color-outreachBackground: #c2f4c7;
  --color-successesBackground: #bce6f5;
  --color-organizingBackground: #e4cef6;

  /* Custom border radius values */
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.averia-font-400 {
  font-family: var(--font-averia), serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.averia-font-700 {
  font-family: var(--font-averia), serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

/* Nunito only supports a weight of 700 */
.nunito-font-700 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.pt-serif-font-400 {
  font-family: var(--font-pt-serif), serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.pt-serif-font-700 {
  font-family: var(--font-pt-serif), serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.pt-serif-font-wider-700 {
  font-family: var(--font-pt-serif), serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.roboto-font-300 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.roboto-font-400 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.roboto-font-500 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.roboto-font-700 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.roboto-font-900 {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 900;
  letter-spacing: 0.2px;
}

/* Varela Round only supports a weight of 400 */
.varela-round-font {
  font-family: var(--font-varela-round-font), sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

/* Young-Serif only supports a weight of 400 */
.young-serif-font {
  font-family: var(--font-young-serif), serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

/* background fade on the landing page */
.right-fade-10 {
  background-image: linear-gradient(
    270deg,
    #871c20 0%,
    #871c20 0%,
    transparent 10%
  );
}

/* background fade on the landing page */
.left-fade-10 {
  background-image: linear-gradient(
    90deg,
    #871c20 0%,
    #871c20 0%,
    transparent 10%
  );
}

/* background fade on the landing page */
.right-fade-17 {
  background-image: linear-gradient(
    270deg,
    #871c20 0%,
    #871c20 0%,
    transparent 17%
  );
}

/* background fade on the landing page */
.left-fade-17 {
  background-image: linear-gradient(
    90deg,
    #871c20 0%,
    #871c20 0%,
    transparent 17%
  );
}

/* background fade on the landing page */
.right-fade-23 {
  background-image: linear-gradient(
    270deg,
    #871c20 0%,
    #871c20 0%,
    transparent 23%
  );
}

/* background fade on the landing page */
.left-fade-23 {
  background-image: linear-gradient(
    90deg,
    #871c20 0%,
    #871c20 0%,
    transparent 23%
  );
}

/* Background fade on the About page */
.about-page-background-gradient {
  background: linear-gradient(24deg, #120700 52%, #b8580b 100%);
}

/* Background fade on the Studies page */
.studies-page-background-gradient {
  background: linear-gradient(24deg, #0f0f00 52%, #898400 100%);
}

/* Background fade on the Outreach page */
.outreach-page-background-gradient {
  background: linear-gradient(24deg, #08120b 52%, #14983c 100%);
}

/* Background fade on the Successes page */
.successes-page-background-gradient {
  background: linear-gradient(24deg, #000000 52%, #225293 100%);
}

/* Background fade on the Organizing page */
.organizing-page-background-gradient {
  background: linear-gradient(24deg, #0b041c 52%, #581faa 100%);
}

.list-alpha-upper {
  list-style-type: upper-alpha;
}

/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */
/* This should be removed or revised down the line */
/* This lets an alphaneumaric list start with an 'H' instead of and 'A' */
/* This was made during the 'move-fast-and-break-things phase */

/* Start of specialized ordering for /pages/studies/methodology */
.list-alpha-upper-h {
  list-style-type: none; /* Remove default numbering */
  counter-reset: list-counter 7; /* Start at 'H' */
  padding-left: 1em; /* Adjust as needed */
}

.list-alpha-upper-h li {
  counter-increment: list-counter;
  position: relative;
}

.list-alpha-upper-h li::before {
  content: counter(list-counter, upper-alpha) ". ";
  position: absolute;
  left: -1.3em; /* Same as padding-left of the list */
}
/* End of specialized ordering for /pages/studies/methodology */
/* ************************************************************ */
/* ************************************************************ */
/* ************************************************************ */
